doctype html
html(lang="en")
    head
        title #{title}
    body
        if session == ''
            a(href='/login')
                img(src='./images/steam_login.png')
        else                
            a(href='/logout') Logout #{session}
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.7.js")
    script(type="text/javascript" src="./javascripts/main.js")
